<footer class="footer footer_v1">
    <div class="container">
        <div class="row">
            <div class="clearfix>"></div>
            <div class="col-sm-12 col-xs-12">
                <div class="footer-widget-6 footer-bottom ">
                    <div id="text-3" class="widget widget_text">
                        <div class="textwidget">
                            <p>© 2022 Cats, with Love by <span>Sachin Gawai</span></p>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>